* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 50px 1fr 45px;
	row-gap: 5px;
}

.header {
	display: grid;
	grid-template-columns: 1fr 100px;
	background-color: rgba(91, 91, 91, 0.611);
	color: white;
	box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.805);
	font-size: 1.5rem;
}
.header-title{
	display: grid;
	place-content: center;
}
/* preview button @ the header */
.btn-preview{
	width: 100%;
	margin-right: 20px;
	border: 0;
}

.main{
	margin: 0 20%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 2fr;
	background-color: rgba(195, 195, 195, 0.357);

}

.profile{
	display: grid;
	height: 100%;
	grid-template-columns: 2.5fr 1fr;
}
.userProfile{
	display:grid;
	grid-template-columns: .5fr 1fr;
	padding: 10px;
	margin-left: 20px;
}
.image{
	display: grid;
	place-content: center;
}
.disc{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10px;
	padding: 10px;
}
.disc > input {
	height: 40%;
	padding: 10px;
}
.userAddress > form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	padding: 10px;
}
.userAddress > form > input{
	height: 100%;
	margin-top: 5px;
	padding: 2px;
}
.footer {
	display: grid;
	place-items: center;
	width: 100%;
	background-color: rgba(91, 91, 91, 0.611);
	color: white;
	box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.805);
	font-size: 1.5rem;
}