* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 50px 1fr 45px;
	row-gap: 5px;
}

.header {
	display: grid;
	grid-template-columns: 1fr 100px;
	background-color: rgba(91, 91, 91, 0.611);
	color: white;
	box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.805);
	font-size: 1.5rem;
}

.header-title {
	display: grid;
	place-content: center;
}

/* preview button @ the header */
.btn-preview {
	width: 100%;
	margin-right: 20px;
	border: 0;
	border-radius: 12%;
}

.main {
	margin: 0 20%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 150px) minmax(100px, 250px);
	background-color: rgba(195, 195, 195, 0.357);


}

.profile {
	display: grid;
	height: 100%;
	grid-template-columns: 2.5fr 1fr;
}

.userProfile {
	display: grid;
	grid-template-columns: .5fr 1fr;
	padding: 10px;
	margin-left: 20px;
}

label[for="fileInput"] input[type="file"]{
	display: none;
}
label[for="fileInput"] {
	background-image: url('/src/asset/download.png');
	background-size: cover;
	width: 100%; /* adjust width and height according to your image size */
	height: 100%;
	display: block;
  }

.disc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10px;
	padding: 10px;
}

.disc>input {
	height: 40%;
	padding: 10px;
	font-weight: bold;
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
}

.userAddress>form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	padding: 10px;
}

.userAddress>form>input {
	height: 100%;
	margin-top: 5px;
	padding: 2px;
}

/* user profile ends here */
.userEducation .user-experience,
.user-skill {
	display: grid;
	grid-template-rows: 1fr 5fr minmax(30px, 50px);
}

.title {
	display: grid;
	place-items: center;
	font-weight: bold;
	font-size: larger;
	margin: 5px;
}

.educations,
.Experience,
.skill {
	font-family: 'Times New Roman', Times, serif;

}

.user>.user-education-dic,
.userExperience>.user-experience-dic,
.userEducation>.user-skill-dic {
	margin: 1rem;
	display: grid;
	grid-template-columns: 4fr 1fr;
	height: 35px;

}

.user-education-dic>input,
.user-experience-dic>input,
.user-skill-dic>input {
	margin: 0 10px;
}

ul {
	position: relative;
	list-style: none;
	padding-left: 15px;
}

li::before {
	padding-left: 10px;
	content: '▶';
	position: absolute;
	left: 0;
}

li {
	margin: 5px;
	padding-left: 15px;
}

.userEducation>.user-education-dic,
.userExperience>.user-experience-dic,
.userSkill>.user-skill-dic {
	margin: 1rem;
	display: grid;
	grid-template-columns: 4fr 1fr;
	height: 35px;
}

.user-education-dic>input,
.user-experience-dic>input,
.user-skill-dic>input {
	margin: 0 10px;
	padding-left: 5px;
}

.footer {
	display: grid;
	place-items: center;
	width: 100%;
	background-color: rgba(91, 91, 91, 0.611);
	color: white;
	box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.805);
	font-size: 1.5rem;
}